//fonts
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

$primaryFont :  'Righteous', sans-serif;

// colors
$main-color :rgb(241 77 93);
$second-color :#21213a;
$white-color : #ffffff;


