@import '../../assets/style/master-styles';

.navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;

    .menu {
        img {
            width: 50px;
        }

        .container {
            display: inline-block;
            cursor: pointer;

            .bar1,
            .bar2,
            .bar3 {
                width: 30px;
                height: 3px;
                background-color: $main-color;
                margin: 6px 0;
                transition: 0.4s;
            }

            .bar3 {
                width: 15px;
            }
        }
    }

    .offcanvas {
        .offcanvas-header h3 {
            color: $second-color;
            font-weight: 500 !important;
        }

        .offcanvas-body {
            ul {
                list-style-type: none;

                li{
                    margin-top: 20px;
                    .navbar-link{
                        text-decoration: none;
                        color: $main-color;
                        font-weight: 500;
                    }
                } 
            }
        }
    }


    .search,
    .modal-body .search {
        background: $white-color;
        border-radius: 0 25px 25px 0;
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        height: 40px;

    }

    .search {
        input {
            width: 100%;
            font-weight: 500;
            background: transparent;
            border: 0;
            padding: 0 20px;
            outline: 0;
        }

        &::before {
            content: "";
            background: linear-gradient(90.21deg, $main-color -5.91%, $second-color 111.58%);
            border-radius: 50px;
            position: absolute;
            z-index: -1;
            top: -1px;
            left: -1px;
            bottom: -1px;
            right: -1px;
        }

        &::after {
            content: "";
            background: $white-color;
            border-radius: 50px;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .fa-solid {
            background: linear-gradient(100.21deg, $main-color -5.91%, $second-color 120.58%);
            padding: 11px 30px;
            color: $white-color;
            border-radius: 0 20px 20px 0;
            font-size: 20px;
        }
    }

    // search on sm screen 
    .fa-solid {
        font-size: 20px;
        cursor: pointer;
        color: $main-color;
    }

    .icons {
        i {
            font-size: 25px;
            color: $main-color;
        }

        span .bg-warning {
            background-color: $second-color !important;
        }

        .dropdown-menu[data-bs-popper] {
            position: absolute;
            right: 100px;
            width: 350px;

            form {
                p{
                    cursor: pointer;
                }
                .btn-login,
                .btn-register {
                    @include btn-style;
                }
                
                .form-control:focus {
                    @include focus;
                }
                
            }
        }
    }

    @media screen and (max-width: 764px) {
        .search {
            display: none;

        }
    }

    .cart-buttons button {
        width: 43%;
        @include btn-style;
    }
}